<% form_url = user.persisted? ? user_url(user) : users_url %>
<% form_method = user.persisted? ? "PATCH" : "POST" %>
<% submit_value = user.persisted? ? "Edit" : "Sign Up" %>

<form action="<%= form_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
	<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

	<label for="user-name">User Name</label>
	<input id="user-name" name="user[username]" value="<%= @user.username %>">

	<label for="user-password">Password</label>
	<input type="password" for="user-password" name="user[password]">

	<input type="submit" value="<%= submit_value %>">
</form>
