<h1><%= business.isNew() ? "Add a Business": "Update Business Details" %></h1>


<form>

  <label for="cities-country">Country</label>
  <select id="cities-country" name="city[country]">
    <option selected value="United States">United States</option>
  </select> <br>

  <label for="business-name">Business Name</label>
  <input id="business-name" name="business[name]"
  value="<%= business.escape("name") %>"> <br>

  <label for="business-address">Address</label>
  <input id="business-address" name="business[address]"
  value="<%= business.escape("address") %>"> <br>

  <label for="cities-name">City</label>
  <input id="cities-name" name="city[city_name]"
  value="<%= business.escape("city") %>"> <br>

  <label for="cities-state">State</label>
  <input id="cities-state" name="city[state]"
  value="<%= business.escape("state") %>"> <br>


  <label for="business-zip">zip</label>
  <input id="business-zip" name="business[zip]"
  value="<%= business.escape("zip") %>"> <br>

  <label for="business-phone-number">Phone Number</label>
  <input id="business-phone-number" name="business[phone_number]"
  value="<%= business.escape("phone_number") %>"> <br>

  <label for="business-website-address">Website Address</label>
  <input id="business-website-address" name="business[website_address]"
  value="<%= business.escape("website_address") %>"> <br>

  <input type="submit" value="<%= business.isNew() ? "Submit Changes" : "Add Business" %>">
</form>
