<h1><%= business.get("name") %></h1>
<a href=<%= "#business/" + business.id + "/edit"%>> Edit </a>
<ul>
    <li> Rating: <%= business.escape("average_rating") %></li>
    <li> Country: <%= business.escape("country") %> </li>
    <li> Address: <%= business.escape("address") %></li>
    <li> City: <%= business.escape("city") %> </li>
    <li> State: <%=  business.escape("state") %> </li>
    <li> Zip: <%= business.escape("zip") %></li>
    <li> Phone#: <%= business.escape("phone_number") %></li>
    <li> Website: <%= business.escape("website_address") %></li>
</ul>


<ul id="business-reviews"></ul>
