
<h1><%= business.escape("name") %></h1>

<ul>
    <li> Rating: <%= business.escape("average_rating") %></li>
    <li> Country: <%= business.escape("country") %> </li>
    <li> Address: <%= business.escape("address") %></li>
    <li> City: <%= business.escape("city") %> </li>
    <li> State: <%=  business.escape("state") %> </li>
    <li> Zip: <%= business.escape("zip") %></li>
    <li> Phone#: <%= business.escape("phone_number") %></li>
    <li> Website: <%= business.escape("website_address") %></li>
</ul>
