
<% if(!navBar) { %>
  <% if(firstSearch) { %>

  <ol class="review-steps group">
    <li id="review-step-1">
      <span> Search for business</span>
    </li>
    <li id="review-step-2">
      <span> Select the business</span>
    </li>
    <li id="review-step-3">
      <span> Write your review!</span>
    </li>
  </ol>


    <h2 class="review-search-start">Which Business Would You Like to Review?</h2>
  <% } else { %>
    <h2 class="review-search-continue">Select From the List Below or Search Again</h2>
  <% } %>
  <div class="yelp-reviews-search group">
    <form id="yelp-reviews-search-form">
      <div class="yelp-reviews-input">
        <label for="search-name">Find</label>
        <input id="search-name" type="text" name="name_query" placeholder="Business Name">
      </div>
      <div class="yelp-reviews-input">
        <label for="search-location">Near</label>
        <input id="search-location" type="text" name="location_query" placeholder="City, state, address">
      </div>
      <div class="yelp-review-button-background">
        <input type="submit">
      </div>
    </form>
  </div>
<% } %>

<% if (results.length > 0 ) { %>
  <button class="prev-button">prev</button>
    <% console.log(currentPage) %>
    <%  for (var i = 0; i <= totalPages; i++) {  %>
      <a class="<%= currentPage === i ? 'search-page active' : 'search-page' %>">
        <%= i > 0 ? i : ""  %>
      </a>
    <% }  %>
  <button class="next-button">next</button>
  <% }  %>


<ul class="search-results">
  <% results.forEach( function (business) { %>
  <li class="search-result group">
    <a class="business-name-link" href="<%= "#business/" + business.id %>"><%= business.name %></a>
    <ul class="search-result-business-info">
      <li class="<%= "business-rating-" + business.average_rating %>"> Rating: <%= business.average_rating %> </li>
      <li class="business-address">
        <span> <%= business.address %> </span>
        <span> <%= business.city %> </span>
        <span> <%= business.state %> </span>
        <span> <%= business.zip %> </span>
      </li>
      <li>
         <%= business.phone_number ? "phone:" + business.phone_number : "" %>
      </li>
      <li>
        <%= business.website_address  ? "web:" + business.website_address : "" %>
      </li>
    </ul>
    <a class="new-review-link" href=" <%= "#reviews/" + business.id + "/new" %>">Write a Review</a>
  </li>
  <% }) %>

  <% if ( results.length > 0 ) {%>
  <li class="add-business-blurb">
    <h3> Not here? Tell us what we're missing. </h3>
    <p> If the business you're looking for isn't here, add it! </p>
    <a href="#business/new"> Add A Business </a>
  </li>
  <% } %>
</ul>
