<% form_url = review.persisted? ? review_url(review) : reviews_url %>
<% form_method = review.persisted? ? "PATCH" : "POST" %>
<% submit_value = review.persisted? ? "Edit" : "Post" %>

<h2>
  <a href="<%= business_url(review.business) %>"><%= review.business.name %></a>
</h2>

<form action="<%= form_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">
	<input type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <input type="hidden"
    name="reviews[business_id]"
    value="<%= review.business_id %>">


  <label>Rate</label> <br>
  <input type="radio" id="rating-1" name="reviews[rating]" value="1"
  <% if 1 == review.rating %> checked <% end %>> 1
  <input type="radio" id="rating-2" name="reviews[rating]" value="2"
  <% if 2 == review.rating %>checked <% end %>> 2
  <input type="radio" id="rating-3" name="reviews[rating]" value="3"
  <% if 3 == review.rating %> checked <% end %>> 3
  <input type="radio" id="rating-4" name="reviews[rating]" value="4"
  <% if 4 == review.rating %> checked <% end %>> 4

  <input type="radio" id="rating-5" name="reviews[rating]" value="5"
  <% if 5 == review.rating %> checked <% end %>> 5
  <br>
	<label for="review-content">Your Review</label>
	<textarea type="review-content" name="reviews[content]"
  value="<%= review.content %>"><%= review.content %>
	</textarea>

	<input type="submit" value="<%= submit_value %>">
</form>
