<!DOCTYPE html>
<html>
<head>
  <script id="current-city-and-user"
  data-user-id="<%= logged_in? ? current_user.id : "none"  %>"
  data-city-id="<%= current_city.id %>">
  </script>
  <title>YelpClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="yelp-header">



    <nav class="header-nav group">
      <a href="/" class="logo">yelp</a>
      <div class="yelp-nav-search group">
        <form action="<%= search_url %>" method="GET">
          <input type="hidden" name="search_type" value="business-search">
          <input type="text" name="name_query" value="<%= params[:name_query] %>" placeholder="Business Name">
          <input type="text" name="location_query" value="<%= params[:location_query] %>" placeholder="City, state, address">
          <input type="submit">
        </form>
      </div>


      <% if logged_in?  %>
        <h1><a href="<%= user_url(current_user) %>">
        <%= current_user.username %></a></h1>
        <div class="nav-links group">
          <a href="<%= user_url(current_user) %>">About Me</a>
        </div>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log Out">
        </form>
      <% else %>
        <div class="sign-up-sign-in group">
          <a class="signup" href="<%= new_user_url %>"> Sign Up </a>
          <a class="signin" href="<%= new_session_url %>"> Sign In</a>
        </div>
        <div class="nav-links group">
          <a href="<%= new_session_url %>">About Me</a>
        </div>
      <% end %>
    </nav>
  </header>

  <% flash[:errors].try(:each) do |error| %>
    <h2><%= error %></h2>
  <% end %>


  <main class="main-content group">
    <%= yield %>
  </main>
</body>
</html>
